.h1 {
  color: blue;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

body {
  font-family: Arial, sans-serif;
  font-size: large;
}
ul {
  padding-left: 20px;
}
li {
  cursor: default;
}

.trashcan {
  cursor: pointer;
  font-size: x-large;
  margin-left: 10px;
}
