* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background: linear-gradient(135deg, #ffafbd, #ffc3a0); /* soft pink → peach */
  font-family: "Poppins", Arial, sans-serif;
}

section {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  box-sizing: border-box;
  width: 40%;
  padding: 15px;
  margin-top: 15px;
  background-color: white;
}

section > * {
  margin-top: 20px;
}
form button {
  font-size: 20px;
  width: 60px;
}

form button,
form input {
  height: 40px;
  padding: 5px;
}

h1 {
  font-size: 50px;
  font-family: "Montserrat";
}

ul {
  list-style: none;
  padding-left: 20px;
}
li {
  margin: 10px;
  font-size: 30px;
  cursor: default;
}

.completed .task-text {
  color: gray;
  text-decoration: line-through;
}

.just-completed .task-text {
  animation: fadeTaskCompleted 0.5s forwards;
}

@keyframes fadeTaskCompleted {
  0% {
    color: black;
  }
  100% {
    color: gray;
    text-decoration: line-through;
  }
}

.task-text:hover {
  cursor: pointer;
  text-decoration: line-through;
}

.trashcan {
  cursor: pointer;
  font-size: x-large;
  margin-left: 10px;
}

.input-row {
  display: grid;
  width: 300px;
  margin-left: 130px;
  grid-template-columns: 1fr auto;
  gap: 8px;
  align-items: center;
}

#taskInput {
  font-size: 15px;
}

.error-msg {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-size: 0.9rem;
  font-style: italic;
  color: #c52121;
  min-height: 1.2em;
}

.shake {
  animation: shakeAnim 1.5s forwards;
}

.card {
  opacity: 0;
  transform: translateY(-100px) scale(0.98);
}

.card > * {
  opacity: 0;
}

.fade-in {
  animation: fadeInUp 0.4s ease forwards;
}

.card.is-in {
  animation: cardDrop 480ms cubic-bezier(0.2, 0.8, 0.2, 1) 0.3s forwards;
}

.card.is-in > * {
  animation: fadeInUp 1s ease forwards;
}

.card.is-in > *:nth-child(1) {
  animation-delay: 0.78s;
}
.card.is-in > *:nth-child(2) {
  animation-delay: 0.93s;
}
.card.is-in > *:nth-child(3) {
  animation-delay: 1.08s;
}
.card.is-in > *:nth-child(4) {
  animation-delay: 1.23s;
}

@keyframes shakeAnim {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cardDrop {
  0% {
    opacity: 0;
    transform: translateY(-100px) scale(0.98);
  }
  50% {
    opacity: 0.7;
    transform: translateY(50px) scale(0.99);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
